<launch>
  <arg name="limited" default="true" />
  <arg name="config" default="true"/>

  
  <!-- Launch moveit -->
  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <arg name="limited" default="$(arg limited)"/>

  </include>

  <!--start rviz  -->
  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" default="$(arg config)"/>

  </include>


</launch>